*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container.main{
  width: 80vw;
  margin: 0 auto;
}

header{
  height: 200px;
  margin-bottom: 10px;
  background-color: yellow;
}

.row{
  height: 500px;
  background-color: white;
}

aside{
  width: 25%;
  height: 100%;
  background-color: #39CCCC90;
  float: left;
}

main{
  width: 50%;
  height: 100%;
  float: left;
  padding: 0 10px;
}

main .content{
  height: 100%;
  background-color: #FF413690;
}
