*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .clearfix::after{
  content: "";
  display: table;
  clear: both;
} */

body{
  width: 100vw;
  height: 100vh;
}

header{
  width: 100%;
  height: 15vh;
  padding: 10px;
  background-color: #FFDC0090;
}

main{
  width: 100%;
  height: 75vh;
}

footer{
  width: 100%;
  height: 10vh;
  padding: 10px;
  background-color: #FF413690;
}

.left{
  width: 20vw;
  height: 75vh;
  background-color: #001f3f90;
  float: left;
  overflow: auto;
  padding: 10px;
}

.right{
  width: 80vw;
  height: 75vh;
  background-color: #0074D990;
  float: right;
  overflow: auto;
  padding: 10px;
}
